.root {
    background-image: url("/public/assets/dashboard-bg-blue.jpg");
    height: calc(100vh - 50px);
    background-size: cover;
}

.content {
    margin: 0 300px;
}

.location {
    display: flex;
}

.input {
    height: fit-content;
    align-self: center;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    background: none;
    padding-left: 10px;
    font-size: 18px;
}

.input:focus {
    outline: none;
}